* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: bisque;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    min-height: 600px;
    width: 600px;
    box-shadow: 10px 0px 1px 1px #FFFFFF;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    text-align: center;
}

.description {
    border: 1px solid #FFFFFF;
    padding: 1em;
    margin-top: 1.5em;
    width: 90%;
    box-shadow: 1px 1px 10px #000000;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.description p {
    text-align: left;
    color: #000000;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.home {
    padding: 1em 2em;
}

.home h5 {
    font-size: 1.5rem;
    font-family: "Source Code Pro", monospace;
}

.home ul {
    gap: .5em;
    padding: 0 1.5em;
}

.home li {
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.home li:hover {
    border: none;
}

h5~ul>li {
    list-style-type: disc;
}

nav {
    width: 80%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
    height: auto;
}

nav li {
    width: 100%;
    background-color: blue;
    padding: 2em;
    text-align: center;
    cursor: pointer;
}

ul li:hover,
ul li:focus {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    font-weight: 500;
}

ul li:hover .nav-link,
ul li:focus .nav-link {
    color: blue;
}



/***** 
    Practice mode start
*****/

.codes {
    max-height: 200px;
    overflow-y: scroll;
}

.codes::-webkit-scrollbar-button {
    background-color: #FFFFFF;
    border: 1px solid blue;
    border-radius: 20px;
    height: 30px;
}

.codes ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.codes ul li {
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.codes li span {
    padding-left: .5em;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    width: 100%;
}

.user-interact {
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

#word-t {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Source Code Pro", monospace;
}

#user-input {
    padding: 1em;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: 400px;
    background-color: bisque;
    outline: 1px solid #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
}

.signals {
    display: flex;
    gap: 1.5em;
}

.key {
    background-color: blue;
    padding: 2em;
    border-radius: 50%;
    color: #FFFFFF;
    font-family: "Source Code Pro", monospace;
    font-size: .9rem;
    cursor: pointer;
}

.clear {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px solid blue;
    border-radius: 10px;
    cursor: pointer;
}

.clear a {
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
}

.back {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back a {
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 40%;
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
    cursor: pointer;
}

.back a:hover,
.back a:focus-within {
    border: none;
    background-color: #FFFFFF;
}

/***** 
    Practice mode end 
*****/